*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #140128;
}

div { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    background: linear-gradient(135deg, #f76300, #764ba2);



}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

h3 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    max-width: 600px;
}